.main-content {
  margin-left: 250px;
  padding: 100px 30px 30px;

  min-height: 100vh;
  width: calc(100% - 250px);

  background: #f8f9fa;

  box-sizing: border-box;
}


@media (max-width: 900px) {
  .main-content {
    margin-left: 230px;
    width: calc(100% - 230px);
  }
}


@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    width: 100%;
    padding: 90px 20px 30px;
  }
}


@media (max-width: 480px) {
  .main-content {
    padding: 85px 15px 25px;
  }
}